@font-face {
    font-family: "Burbank Big Condensed"; 
    src: url("//db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.eot"); 
    src: url("//db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.woff") format("woff"), url("//db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.svg#Burbank Big Condensed") format("svg"); 
}
@keyframes warning {
    0% {color: red; font-size: 4.5em;}
    50% {color: orangered; font-size: 5em;}
    100% {color: red; font-size: 4.5em;}
}
* {
    background-color:blueviolet; 
    background-image: linear-gradient(45deg,blueviolet, DarkOrchid);
}
h1, h2{
    font-size: 5em;
    font-family: "Burbank Big Condensed", serif;
    color: white;
    text-align: center;
}
h2 {
    font-size: 5em;
    color: red;
    animation-name: warning;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#progress {
    border: white dotted 2px;
}